<p>
  <!-- routerLink="./" this syntax tells angular that we want to stay on the same page -->
  <a
    routerLink="./"
    [queryParams]="{ order: order === 'asc' ? 'desc' : 'asc' }"
  >
    Sort {{ order === "asc" ? "Descending" : "Ascending" }}
  </a>
</p>
<ul>
  @for (task of userTasks(); track task.id) {
  <li>
    <app-task [task]="task" />
  </li>
  } @empty {
  <p>There are no tasks yet. Start adding some!</p>
  }
</ul>

<!-- 
  a routerLink="./" queryParams=""
  
  routerLink="./" this syntax tells angular that we want to stay on the same page
  queryParams: adding queryParams via queryParams property of routerLink directive.

Using query parameters instead of signals for ascending or descending sort as
  we get a shareable link.
-->
