<form>
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" ngModel />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" ngModel />
    </div>

    <button class="button">Login</button>
  </div>
</form>
<!-- End goal is to make angular aware of the form and its inputs. -->
<!-- using ngModel without two-way binding.
 The ngModel directive registers an html element with Angular. By registering the element, Angular becomes aware of it and manages it behind the scenes. This also allows you to access the element programmatically.
 
If ngModel is used within a form tag, either the name attribute must be set or the form.
name is internally used by angular to register the element and get managed by angular.
-->
