<p>
  <button (click)="onDecrement()">Decrement</button>
  <span>{{ count() }}</span>
  <button (click)="onIncrement()">Increment</button>
</p>
<p class="debug-output">{{ debugOutput }}</p>
<app-info-message />
<!--  Counter still works even after not using signals when we are zoneless because,
  to inc or dec, we trigger event listeners, and angular still listens for event listeners for change detection as data may change due to events occured. 
  But now count is not reset which is handled by timeout,
  timeout expires were handled by zone which is not present now.
  So its better to use signals.

  If we are using signals, it will reset as even though timeout expired but we also updated a signal by which angular gets notified of the change.
  -->
