<main>
  <app-learning-resources appLog />

  <hr />

  <app-auth />
  <!-- @if(isAdmin()) { -->

  <!-- Structural Directive, we need to add * before structural directive to tell angular it is a structual directive and will change structure of DOM, similarly *ngFor-->
  <!-- <p *ngIf="isAdmin()">Only admins should see this!</p> -->
  <!-- } -->

  <!-- Our own custom Structural Directive -->
  <!-- <ng-template appAuth="admin"> -->
  <!-- <p>Only admins should see this!</p> -->
  <!-- </ng-template> -->
  <!--Alternate way to add Structural Directive and make angular add ng-template on its own use *, adding * not only add ng-template but also square brackets as if we are property binding it. So we have to type ts code in ""  -->
  <p *appAuth="'admin'" appLog class="protected-content admin">
    Only admins should see this!
  </p>
  <p *appAuth="'user'" appLog class="protected-content unauthenticated">
    Regular users should see this!
  </p>
  <p *appAuth="'guest'" appLog class="protected-content authenticated">
    Guest users should see this!
  </p>
</main>
