<main>
  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Current Temperatures</h2>
        <p>{{ currentDate | date : "medium" }}</p>
      </div>
    </header>
    <p>
      New York:
      {{ currentTemperaturs.newYork | temp : "cel" : "fah" }}
    </p>
    <p>
      Berlin:
      {{ currentTemperaturs.berlin | number : "1.1-2" | temp : "cel" : "fah" }}
    </p>
    <p>
      Paris:
      {{ currentTemperaturs.paris | number : "1.1-2" | temp : "cel" : "fah" }}
    </p>
    <p>
      Chicago:
      {{ currentTemperaturs.chicago | number : "1.1-2" | temp : "cel" : "fah" }}
    </p>
  </article>

  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Historic Temperatures</h2>
        <p>Berlin</p>
      </div>
    </header>
    <ul>
      @for (temperature of historicTemperatures | sort; track temperature) {
      <li (click)="onReset($index)">
        {{ temperature | temp : "cel" }}
      </li>
      }
    </ul>
  </article>
</main>

<!-- Pipes can run a lot, so angular caches the return value and only reruns transform function of pipe only if input value of transform changes, by comparing old inout value with new input value.
So when passing objects or arrays in input to type, make sure to update the reference and then pass when needed to change the input. 
, alternate to this set Pipe decorator pure value as false, default is true, by this we disable the caching mechanism and the angular we re-run the transform function, anytime, anywhere anything changed in the application.
But setting pure to false can make some performance issue, but if we think its needed we can use that as well.
-->
