<div>
  <!-- <a href="/tasks"> -->
  <!-- <a routerLink='/tasks' [class.selected]=""> -->
  <a routerLink="/tasks" routerLinkActive="selected">
    <img [src]="imagePath()" [alt]="user().name" />
    <span>{{ user().name }}</span>
  </a>
</div>

<!-- 
  <a href="/tasks">
  on every click entire page is loaded again. We are in a single page application so only the required component must be updated.
  So this is not a preffered way to load our routes.
  use routerLink directive instead.

  Angular intercepts the browser's default behavior, preventing the refetching of the HTML document. 
  It then examines the path, consults the route configuration, and loads the appropriate component without leaving the single page application context. 
  This is the purpose of RouterLink.
  <a routerLink="/tasks">
  But like this it won't work, since routerLink is a directive from angular and without importing it in component, it wont be detected.

  To apply a class when the link is active,
  we can use [class.selected] or put classes conditionally based on a condition,
  alternate is routerLinkActive="", to apply a class when this is the element that led to the active route being loaded.

  After adding and saving this directive, all user links are marked as active. 
  routerLinkActive simply checks if the current route starts with the value of routerLink.

  If you have multiple links that all point to /tasks, then all of them will be marked active when you are at /tasks, because Angular sees that the router URL matches each one’s link.
  -->
